.formGroup {
    margin-bottom: 1.25rem;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  .formRow {
    display: flex;
    gap: 1rem;
  }
  
  .formRow .formGroup {
    flex: 1;
  }
  
  /* All form inputs */
  .input,
  .select,
  .textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-alpha-200);
    background-color: var(--background);
  }